# Mini Project 5-5 Explore Hypothesis Testing

## Introduction

You work for an environmental think tank called Repair Our Air (ROA). ROA is formulating policy recommendations to improve the air quality in America, using the Environmental Protection Agency's Air Quality Index (AQI) to guide their decision making. An AQI value close to 0 signals "little to no" public health concern, while higher values are associated with increased risk to public health. 

They've tasked you with leveraging AQI data to help them prioritize their strategy for improving air quality in America.

ROA is considering the following decisions. For each, construct a hypothesis test and an accompanying visualization, using your results of that test to make a recommendation:

1. ROA is considering a metropolitan-focused approach. Within California, they want to know if the mean AQI in Los Angeles County is statistically different from the rest of California.
2. With limited resources, ROA has to choose between New York and Ohio for their next regional office. Does New York have a lower AQI than Ohio?
3. A new policy will affect those states with a mean AQI of 10 or greater. Will Michigan be affected by this new policy?

**Notes:**
1. For your analysis, you'll default to a 5% level of significance.
2. Throughout the lab, for two-sample t-tests, use Welch's t-test (i.e., setting the `equal_var` parameter to `False` in `scipy.stats.ttest_ind()`). This will account for the possibly unequal variances between the two groups in the comparison.

## Step 1: Imports

To proceed with your analysis, import `pandas` and `numpy`. To conduct your hypothesis testing, import `stats` from `scipy`.

#### Import Packages

In [39]:
# Import relevant packages

import pandas as pd
import numpy as np
from scipy import stats

You are also provided with a dataset with national Air Quality Index (AQI) measurements by state over time for this analysis. `Pandas` was used to import the file `c4_epa_air_quality.csv` as a dataframe named `aqi`. As shown in this cell, the dataset has been automatically loaded in for you. You do not need to download the .csv file, or provide more code, in order to access the dataset and proceed with this lab. Please continue with this activity by completing the following instructions.

**Note:** For purposes of your analysis, you can assume this data is randomly sampled from a larger population.

#### Load Dataset

In [40]:
# IMPORT YOUR DATA
aqi = pd.read_csv("c4_epa_air_quality.csv")
aqi = aqi.dropna()

## Step 2: Data Exploration

### Before proceeding to your deliverables, explore your datasets.

Use the following space to surface descriptive statistics about your data. In particular, explore whether you believe the research questions you were given are readily answerable with this data.

In [41]:
# Use head() to show a sample of data
aqi.head()

,Unnamed: 0,date_local,state_name,county_name,city_name,local_site_name,parameter_name,units_of_measure,arithmetic_mean,aqi
0,0,2018-01-01,Arizona,Maricopa,Buckeye,BUCKEYE,Carbon monoxide,Parts per million,0.473684,7
1,1,2018-01-01,Ohio,Belmont,Shadyside,Shadyside,Carbon monoxide,Parts per million,0.263158,5
2,2,2018-01-01,Wyoming,Teton,Not in a city,Yellowstone National Park - Old Faithful Snow ...,Carbon monoxide,Parts per million,0.111111,2
3,3,2018-01-01,Pennsylvania,Philadelphia,Philadelphia,North East Waste (NEW),Carbon monoxide,Parts per million,0.300000,3
4,4,2018-01-01,Iowa,Polk,Des Moines,CARPENTER,Carbon monoxide,Parts per million,0.215789,3

In [42]:
# check varibles
print (aqi.shape)

(257, 10)

In [43]:
# Use describe() to summarize AQI

aqi.describe()

       Unnamed: 0  arithmetic_mean         aqi
count  257.000000       257.000000  257.000000
mean   129.766537         0.404578    6.782101
std     74.675286         0.319311    7.091422
min      0.000000         0.000000    0.000000
25%     66.000000         0.200000    2.000000
50%    130.000000         0.278947    5.000000
75%    194.000000         0.516667    9.000000
max    259.000000         1.921053   50.000000

In [44]:
# For a more thorough examination of observations by state use values_counts()
aqi.value_counts()

Unnamed: 0  date_local  state_name      county_name  city_name                                  local_site_name                 parameter_name   units_of_measure   arithmetic_mean  aqi
0           2018-01-01  Arizona         Maricopa     Buckeye                                    BUCKEYE                         Carbon monoxide  Parts per million  0.473684         7      1
131         2018-01-01  Arizona         Maricopa     Phoenix                                    CENTRAL PHOENIX                 Carbon monoxide  Parts per million  1.110526         27     1
165         2018-01-01  Utah            Weber        Ogden                                      Ogden                           Carbon monoxide  Parts per million  0.326316         7      1
166         2018-01-01  New Jersey      Hudson       Jersey City                                Jersey City                     Carbon monoxide  Parts per million  0.133333         3      1
167         2018-01-01  New York        New York     New York                                   CCNY                            Carbon monoxide  Parts per million  0.200000         2      1
                                                                                                                                                                                           ..
93          2018-01-01  Oklahoma        Oklahoma     Oklahoma City                              Near Road                       Carbon monoxide  Parts per million  0.284211         5      1
94          2018-01-01  Florida         Pinellas     Saint Petersburg                           Sawgrass Lake Park (Near-Road)  Carbon monoxide  Parts per million  0.315789         9      1
95          2018-01-01  Colorado        Mesa         Grand Junction                             GRAND JUNCTION - PITKIN         Carbon monoxide  Parts per million  0.305263         6      1
96          2018-01-01  Minnesota       Dakota       Inver Grove Heights (RR name Inver Grove)  Flint Hills Refinery 423        Carbon monoxide  Parts per million  0.200000         2      1
259         2018-01-01  North Carolina  Wake         Not in a city                              Triple Oak                      Carbon monoxide  Parts per million  0.188889         2      1
Name: count, Length: 257, dtype: int64

#### **Question 1: From the preceding data exploration, what do you recognize?**

A:

## Step 3. Statistical Tests

Before you proceed, recall the following steps for conducting hypothesis testing:

1. Formulate the null hypothesis and the alternative hypothesis.<br>
2. Set the significance level.<br>
3. Determine the appropriate test procedure.<br>
4. Compute the p-value.<br>
5. Draw your conclusion.

### Hypothesis 1: ROA is considering a metropolitan-focused approach. Within California, they want to know if the mean AQI in Los Angeles County is statistically different from the rest of California.

Before proceeding with your analysis, it will be helpful to subset the data for your comparison.

In [45]:
# Create dataframes for each sample being compared in your test

california_aqi = aqi[aqi['state_name'] == 'California']

la_county_aqi = california_aqi[california_aqi['county_name'] == 'Los Angeles']

rest_of_CA = california_aqi[california_aqi['county_name'] != 'Los Angeles']

print(la_county_aqi)
print(rest_of_CA)

     Unnamed: 0  date_local  state_name  county_name         city_name  \
33           33  2018-01-01  California  Los Angeles         Lancaster
42           42  2018-01-01  California  Los Angeles     Santa Clarita
61           61  2018-01-01  California  Los Angeles          Pasadena
76           76  2018-01-01  California  Los Angeles       Los Angeles
109         109  2018-01-01  California  Los Angeles       Los Angeles
110         110  2018-01-01  California  Los Angeles       Los Angeles
119         119  2018-01-01  California  Los Angeles            Reseda
132         132  2018-01-01  California  Los Angeles           Compton
163         163  2018-01-01  California  Los Angeles             Azusa
172         172  2018-01-01  California  Los Angeles       Pico Rivera
177         177  2018-01-01  California  Los Angeles        Long Beach
189         189  2018-01-01  California  Los Angeles            Pomona
233         233  2018-01-01  California  Los Angeles          Glendora
250         250  2018-01-01  California  Los Angeles  West Los Angeles

                   local_site_name   parameter_name   units_of_measure  \
33       Lancaster-Division Street  Carbon monoxide  Parts per million
42                   Santa Clarita  Carbon monoxide  Parts per million
61                        Pasadena  Carbon monoxide  Parts per million
76                    LAX Hastings  Carbon monoxide  Parts per million
109  Los Angeles-North Main Street  Carbon monoxide  Parts per million
110  Los Angeles-North Main Street  Carbon monoxide  Parts per million
119                         Reseda  Carbon monoxide  Parts per million
132                        Compton  Carbon monoxide  Parts per million
163                          Azusa  Carbon monoxide  Parts per million
172                 Pico Rivera #2  Carbon monoxide  Parts per million
177            Long Beach (Hudson)  Carbon monoxide  Parts per million
189                         Pomona  Carbon monoxide  Parts per million
233                       Glendora  Carbon monoxide  Parts per million
250               West Los Angeles  Carbon monoxide  Parts per million

     arithmetic_mean  aqi
33          0.394737    7
42          0.394737    7
61          0.789474   16
76          0.863158   17
109         0.994737   17
110         0.900000   16
119         1.015789   19
132         1.742105   40
163         0.673684   10
172         1.047368   18
177         1.200000   24
189         1.000000   20
233         0.389474    6
250         0.655556   11
     Unnamed: 0  date_local  state_name     county_name  \
16           16  2018-01-01  California  San Bernardino
18           18  2018-01-01  California      Sacramento
26           26  2018-01-01  California          Orange
27           27  2018-01-01  California         Alameda
34           34  2018-01-01  California          Fresno
40           40  2018-01-01  California       San Mateo
43           43  2018-01-01  California    Contra Costa
45           45  2018-01-01  California           Butte
46           46  2018-01-01  California       Riverside
58           58  2018-01-01  California            Kern
62           62  2018-01-01  California         Alameda
63           63  2018-01-01  California      Sacramento
75           75  2018-01-01  California     San Joaquin
77           77  2018-01-01  California       Riverside
81           81  2018-01-01  California   Santa Barbara
86           86  2018-01-01  California     Santa Clara
87           87  2018-01-01  California        Humboldt
99           99  2018-01-01  California   Santa Barbara
106         106  2018-01-01  California        Imperial
117         117  2018-01-01  California       San Diego
127         127  2018-01-01  California           Marin
130         130  2018-01-01  California  San Bernardino
134         134  2018-01-01  California         Alameda
139         139  2018-01-01  California  San Bernardino
141         141  2018-01-01  California   San Francisco
147         147  2018-01-01  California     Santa Clara
148         148  2018-01-01  California    Contra Costa
151         151  2018-01-01  California          Orange
156         156  2018-01-01  California          Fresno
158         158  2018-01-01  California      Stanislaus
161         161  2018-01-01  California            Kern
170         170  2018-01-01  California       San Diego
171         171  2018-01-01  California            Inyo
176         176  2018-01-01  California    Contra Costa
190         190  2018-01-01  California          Madera
194         194  2018-01-01  California  San Bernardino
198         198  2018-01-01  California       Riverside
199         199  2018-01-01  California       Riverside
200         200  2018-01-01  California       Riverside
203         203  2018-01-01  California   Santa Barbara
206         206  2018-01-01  California  San Bernardino
211         211  2018-01-01  California          Fresno
213         213  2018-01-01  California   Santa Barbara
218         218  2018-01-01  California          Sonoma
220         220  2018-01-01  California            Napa
222         222  2018-01-01  California  San Bernardino
224         224  2018-01-01  California      Sacramento
227         227  2018-01-01  California   Santa Barbara
230         230  2018-01-01  California        Monterey
236         236  2018-01-01  California          Solano
239         239  2018-01-01  California         Alameda
249         249  2018-01-01  California          Orange

                     city_name  \
16                     Ontario
18                Arden-Arcade
26                    La Habra
27               Not in a city
34                      Fresno
40                Redwood City
43                     Concord
45                       Chico
46                   Mira Loma
58                       Arvin
62                     Oakland
63               Not in a city
75                    Stockton
77               Lake Elsinore
81   Vandenberg Air Force Base
86                    San Jose
87                      Eureka
99                      Goleta
106                   Calexico
117                   El Cajon
127                 San Rafael
130                    Fontana
134                    Oakland
139                Victorville
141              San Francisco
147                   San Jose
148                  San Pablo
151                    Anaheim
156                     Clovis
158                    Modesto
161                Bakersfield
170                  San Diego
171              Not in a city
176              Bethel Island
190                     Madera
194                     Upland
198               Palm Springs
199                   Rubidoux
200                   Rubidoux
203                Santa Maria
206             San Bernardino
211              Not in a city
213                    Capitan
218                 Sebastopol
220                       Napa
222                    Barstow
224                 Sacramento
227                     Lompoc
230                    Salinas
236                    Vallejo
239                    Oakland
249                    Anaheim

                                       local_site_name   parameter_name  \
16                        Ontario Near Road (Etiwanda)  Carbon monoxide
18                           Sacramento-Del Paso Manor  Carbon monoxide
26                                            La Habra  Carbon monoxide
27                              Berkeley- Aquatic Park  Carbon monoxide
34                                    Fresno - Garland  Carbon monoxide
40                                        Redwood City  Carbon monoxide
43                                             Concord  Carbon monoxide
45                                   Chico-East Avenue  Carbon monoxide
46                               Mira Loma (Van Buren)  Carbon monoxide
58                                    Arvin-Di Giorgio  Carbon monoxide
62                                       Laney College  Carbon monoxide
63                           North Highlands-Blackfoot  Carbon monoxide
75                                   Stockton-Hazelton  Carbon monoxide
77                                       Lake Elsinore  Carbon monoxide
81                                     VAFB South Base  Carbon monoxide
86                                  San Jose - Jackson  Carbon monoxide
87                                              Jacobs  Carbon monoxide
99                                              Goleta  Carbon monoxide
106                              Calexico-Ethel Street  Carbon monoxide
117             El Cajon - Lexington Elementary School  Carbon monoxide
127                                         San Rafael  Carbon monoxide
130                                            Fontana  Carbon monoxide
134                                            Oakland  Carbon monoxide
139                            Victorville-Park Avenue  Carbon monoxide
141                                      San Francisco  Carbon monoxide
147                             San Jose - Knox Avenue  Carbon monoxide
148                                          San Pablo  Carbon monoxide
151                                            Anaheim  Carbon monoxide
156                                       Clovis-Villa  Carbon monoxide
158                                Modesto-14th Street  Carbon monoxide
161                                   Bakersfield-Muni  Carbon monoxide
170                     San Diego -Rancho Carmel Drive  Carbon monoxide
171  White Mountain Research Center - Owens Valley Lab  Carbon monoxide
176                                      Bethel Island  Carbon monoxide
190                                   Madera-Pump Yard  Carbon monoxide
194                                             Upland  Carbon monoxide
198                                       Palm Springs  Carbon monoxide
199                                           Rubidoux  Carbon monoxide
200                                           Rubidoux  Carbon monoxide
203                                        Santa Maria  Carbon monoxide
206                                     San Bernardino  Carbon monoxide
211                                       Tranquillity  Carbon monoxide
213                               Los Flores Canyon #1  Carbon monoxide
218                                         Sebastopol  Carbon monoxide
220                                               Napa  Carbon monoxide
222                                            Barstow  Carbon monoxide
224                            Sacramento-Bercut Drive  Carbon monoxide
227                                    Lompoc H Street  Carbon monoxide
230                                          Salinas 3  Carbon monoxide
236                                            Vallejo  Carbon monoxide
239                                       Oakland West  Carbon monoxide
249                                  Anaheim Near-Road  Carbon monoxide

      units_of_measure  arithmetic_mean  aqi
16   Parts per million         0.747368   11
18   Parts per million         0.752632   16
26   Parts per million         0.673684   13
27   Parts per million         1.088889   15
34   Parts per million         1.000000   15
40   Parts per million         0.672222   10
43   Parts per million         0.294444    5
45   Parts per million         0.466667    9
46   Parts per million         1.231579   27
58   Parts per million         0.278947    3
62   Parts per million         0.611111    9
63   Parts per million         0.836842   18
75   Parts per million         1.084211   20
77   Parts per million         0.510526    9
81   Parts per million         0.200000    2
86   Parts per million         0.747059   15
87   Parts per million         0.393750    5
99   Parts per million         0.222222    3
106  Parts per million         1.183333   26
117  Parts per million         0.626667   11
127  Parts per million         0.505556    7
130  Parts per million         0.626316   11
134  Parts per million         0.600000   10
139  Parts per million         0.621053   13
141  Parts per million         0.650000    8
147  Parts per million         1.111111   18
148  Parts per million         0.405556    7
151  Parts per million         0.694737   11
156  Parts per million         0.761111   10
158  Parts per million         0.488889    9
161  Parts per million         0.633333   13
170  Parts per million         0.933333   11
171  Parts per million         0.100000    1
176  Parts per million         0.511111    7
190  Parts per million         0.347368    5
194  Parts per million         0.884211   13
198  Parts per million         0.157895    3
199  Parts per million         1.021053   23
200  Parts per million         0.984211   22
203  Parts per million         0.227778    3
206  Parts per million         1.100000   28
211  Parts per million         0.215789    3
213  Parts per million         0.273333    3
218  Parts per million         0.572222    8
220  Parts per million         0.588889   10
222  Parts per million         0.305263    5
224  Parts per million         0.627778   13
227  Parts per million         0.393333    6
230  Parts per million         0.552632   10
236  Parts per million         0.620000    9
239  Parts per million         0.988889   15
249  Parts per million         1.015789   15

In [46]:
# Check head
la_county_aqi.head()
rest_of_CA.head()

,Unnamed: 0,date_local,state_name,county_name,city_name,local_site_name,parameter_name,units_of_measure,arithmetic_mean,aqi
16,16,2018-01-01,California,San Bernardino,Ontario,Ontario Near Road (Etiwanda),Carbon monoxide,Parts per million,0.747368,11
18,18,2018-01-01,California,Sacramento,Arden-Arcade,Sacramento-Del Paso Manor,Carbon monoxide,Parts per million,0.752632,16
26,26,2018-01-01,California,Orange,La Habra,La Habra,Carbon monoxide,Parts per million,0.673684,13
27,27,2018-01-01,California,Alameda,Not in a city,Berkeley- Aquatic Park,Carbon monoxide,Parts per million,1.088889,15
34,34,2018-01-01,California,Fresno,Fresno,Fresno - Garland,Carbon monoxide,Parts per million,1.000000,15

#### Formulate your hypothesis:

**Formulate your null and alternative hypotheses:**

*   $H_0$: There is no difference in the mean AQI between Los Angeles County and the rest of California.
*   $H_A$: There is a difference in the mean AQI between Los Angeles County and the rest of California.

#### Set the significance level:

In [47]:
# For this analysis, the significance level is 5%

# n < 30, t-distribution: sample a, sample b, assume not same variance.

stats.ttest_ind(a=la_county_aqi['aqi'], b=rest_of_CA['aqi'], equal_var=False)

TtestResult(statistic=2.1107010796372014, pvalue=0.049839056842410995, df=17.08246830361151)

#### Determine the appropriate test procedure:

Here, you are comparing the sample means between two independent samples. Therefore, you will utilize a **two-sample  𝑡-test**.

#### Compute the P-value

In [48]:
# Compute your p-value here

# Extracting pvalue and make the test

statistic, pvalue = stats.ttest_ind(a=la_county_aqi['aqi'], b=rest_of_CA['aqi'], equal_var=False)

print ("pvalue:",pvalue)
print()

if pvalue < 0.05:
    
    print('pvalue < 0.05, Reject Ho.')          # Ha: There is a difference in the mean
else:
    print('pvalue > 0.05, Fail to reject Ho.')  # Ho: There is no difference in the mean

pvalue: 0.049839056842410995

pvalue < 0.05, Reject Ho.

#### **Question 2. What is your P-value for hypothesis 1, and what does this indicate for your null hypothesis?**

In [49]:
# Extracting pvalue and make the test

A: We Reject the null hypothesis. This means that there is a difference in the AQI of LA County vs the rest of the state

### Hypothesis 2: With limited resources, ROA has to choose between New York and Ohio for their next regional office. Does New York have a lower AQI than Ohio?

Before proceeding with your analysis, it will be helpful to subset the data for your comparison.

In [50]:
# Create dataframes for each sample being compared in your test

New_York = aqi[aqi['state_name'] == 'New York']
Ohio = aqi[aqi['state_name'] == 'Ohio']




print(New_York)
print(Ohio)

     Unnamed: 0  date_local state_name county_name      city_name  \
90           90  2018-01-01   New York        Erie    Cheektowaga
113         113  2018-01-01   New York       Bronx       New York
124         124  2018-01-01   New York      Monroe      Rochester
167         167  2018-01-01   New York    New York       New York
173         173  2018-01-01   New York      Queens       New York
182         182  2018-01-01   New York      Queens       New York
184         184  2018-01-01   New York     Steuben  Not in a city
195         195  2018-01-01   New York        Erie        Buffalo
196         196  2018-01-01   New York      Monroe      Rochester
234         234  2018-01-01   New York      Albany         Albany

              local_site_name   parameter_name   units_of_measure  \
90          Buffalo Near-Road  Carbon monoxide  Parts per million
113           PFIZER LAB SITE  Carbon monoxide  Parts per million
124               ROCHESTER 2  Carbon monoxide  Parts per million
167                      CCNY  Carbon monoxide  Parts per million
173  Queens College Near Road  Carbon monoxide  Parts per million
182          QUEENS COLLEGE 2  Carbon monoxide  Parts per million
184       PINNACLE STATE PARK  Carbon monoxide  Parts per million
195                   BUFFALO  Carbon monoxide  Parts per million
196       Rochester Near-Road  Carbon monoxide  Parts per million
234               LOUDONVILLE  Carbon monoxide  Parts per million

     arithmetic_mean  aqi
90          0.252632    3
113         0.289474    3
124         0.200000    2
167         0.200000    2
173         0.273684    3
182         0.200000    2
184         0.200000    2
195         0.300000    3
196         0.200000    2
234         0.221053    3
     Unnamed: 0  date_local state_name county_name             city_name  \
1             1  2018-01-01       Ohio     Belmont             Shadyside
12           12  2018-01-01       Ohio    Hamilton            Cincinnati
22           22  2018-01-01       Ohio       Stark                Canton
51           51  2018-01-01       Ohio      Summit                 Akron
59           59  2018-01-01       Ohio    Cuyahoga             Cleveland
120         120  2018-01-01       Ohio    Cuyahoga             Cleveland
149         149  2018-01-01       Ohio    Franklin              Columbus
191         191  2018-01-01       Ohio    Franklin              Columbus
215         215  2018-01-01       Ohio    Cuyahoga  Warrensville Heights
231         231  2018-01-01       Ohio  Montgomery                Dayton
241         241  2018-01-01       Ohio      Preble             New Paris
252         252  2018-01-01       Ohio    Hamilton            Cincinnati

          local_site_name   parameter_name   units_of_measure  \
1               Shadyside  Carbon monoxide  Parts per million
12             Taft NCore  Carbon monoxide  Parts per million
22                 Canton  Carbon monoxide  Parts per million
51           NIHF STEM MS  Carbon monoxide  Parts per million
59         GT Craig NCore  Carbon monoxide  Parts per million
120              Galleria  Carbon monoxide  Parts per million
149              Morse Rd  Carbon monoxide  Parts per million
191   Smoky Row Near Road  Carbon monoxide  Parts per million
215   Cleveland Near Road  Carbon monoxide  Parts per million
231               Reibold  Carbon monoxide  Parts per million
241          Preble NCore  Carbon monoxide  Parts per million
252  Cincinnati Near Road  Carbon monoxide  Parts per million

     arithmetic_mean  aqi
1           0.263158    5
12          0.252632    3
22          0.394737    6
51          0.083333    3
59          0.250000    3
120         0.273684    3
149         0.184211    3
191         0.115789    2
215         0.321053    5
231         0.163158    2
241         0.176471    2
252         0.226316    3

In [51]:
# Check head

New_York.head()
Ohio.head()

,Unnamed: 0,date_local,state_name,county_name,city_name,local_site_name,parameter_name,units_of_measure,arithmetic_mean,aqi
1,1,2018-01-01,Ohio,Belmont,Shadyside,Shadyside,Carbon monoxide,Parts per million,0.263158,5
12,12,2018-01-01,Ohio,Hamilton,Cincinnati,Taft NCore,Carbon monoxide,Parts per million,0.252632,3
22,22,2018-01-01,Ohio,Stark,Canton,Canton,Carbon monoxide,Parts per million,0.394737,6
51,51,2018-01-01,Ohio,Summit,Akron,NIHF STEM MS,Carbon monoxide,Parts per million,0.083333,3
59,59,2018-01-01,Ohio,Cuyahoga,Cleveland,GT Craig NCore,Carbon monoxide,Parts per million,0.250000,3

**Formulate your null and alternative hypotheses:**

*   $H_0$: The mean AQI of New York is greater than or equal to that of Ohio.
*   $H_A$: The mean AQI of New York is **below** that of Ohio.

#### Significance Level (remains at 5%)

#### Determine the appropriate test procedure:

Here, you are comparing the sample means between two independent samples in one direction. Therefore, you will utilize a **two-sample  𝑡-test**.

#### Compute the P-value

In [52]:
# Compute your p-value here

statistic, pvalue = stats.ttest_ind(a=New_York['arithmetic_mean'], 
                                    b=Ohio['arithmetic_mean'], 
                                    equal_var=False)

#### **Question 3. What is your P-value for hypothesis 2, and what does this indicate for your null hypothesis?**

In [53]:
# Your code here.

if statistic < 0:
    adjusted_pvalue = pvalue / 2
else:
    adjusted_pvalue = 1 - (pvalue / 2)

# Extracting pvalue and making the test
print("T-statistic:", statistic)
print("Adjusted p-value (left-tailed):", adjusted_pvalue)
print()

if adjusted_pvalue < 0.05:
    
    print('pvalue < 0.05, Reject Ho.')          
else:
    print('pvalue > 0.05, Fail to reject Ho.')

T-statistic: 0.29374585904584777
Adjusted p-value (left-tailed): 0.6136693659905865

pvalue > 0.05, Fail to reject Ho.

A: Reject Ho. This means that New York AQI is below that of Ohios

###  Hypothesis 3: A new policy will affect those states with a mean AQI of 10 or greater. Will Michigan be affected by this new policy?

Before proceeding with your analysis, it will be helpful to subset the data for your comparison.

In [54]:
# Create dataframes for each sample being compared in your test

Michigan = aqi[aqi['state_name'] == 'Michigan']




print(Michigan)

     Unnamed: 0  date_local state_name county_name      city_name  \
65           65  2018-01-01   Michigan       Wayne        Livonia
122         122  2018-01-01   Michigan       Wayne        Detroit
123         123  2018-01-01   Michigan       Wayne        Detroit
129         129  2018-01-01   Michigan       Wayne        Detroit
192         192  2018-01-01   Michigan       Wayne     Allen Park
207         207  2018-01-01   Michigan       Wayne  Not in a city
226         226  2018-01-01   Michigan        Kent   Grand Rapids
242         242  2018-01-01   Michigan       Wayne        Detroit
248         248  2018-01-01   Michigan       Wayne        Detroit

              local_site_name   parameter_name   units_of_measure  \
65                 LIVONIA-NR  Carbon monoxide  Parts per million
122               West corner  Carbon monoxide  Parts per million
123  MARK TWAIN MIDDLE SCHOOL  Carbon monoxide  Parts per million
129                  ELIZA-NR  Carbon monoxide  Parts per million
192                Allen Park  Carbon monoxide  Parts per million
207            Eliza Downwind  Carbon monoxide  Parts per million
226                 GR-MONROE  Carbon monoxide  Parts per million
242        (Northeast corner)  Carbon monoxide  Parts per million
248                 NORTHWEST  Carbon monoxide  Parts per million

     arithmetic_mean  aqi
65          0.338889    5
122         0.394737    8
123         0.515789    9
129         0.616667   11
192         0.811111   13
207         0.516667   10
226         0.200000    2
242         0.378947    7
248         0.415789    8

**Formulate your null and alternative hypotheses here:**

*   $H_0$: The mean AQI of Michigan is less than or equal to 10.
*   $H_A$: The mean AQI of Michigan is greater than 10.

#### Significance Level (remains at 5%)

#### Determine the appropriate test procedure:

Here, you are comparing one sample mean relative to a particular value in one direction. Therefore, you will utilize a **one-sample  𝑡-test**.

#### Compute the P-value

In [55]:
statistic, pvalue = stats.ttest_1samp(a=Michigan['arithmetic_mean'], popmean=10)


if statistic > 0:
    adjusted_pvalue = 1 - (pvalue / 2) 
else:
    adjusted_pvalue = 1 - (pvalue / 2)  

print("T-statistic:", statistic)
print("Adjusted p-value (right-tailed):", adjusted_pvalue)
print()

if adjusted_pvalue < 0.05:
    print('pvalue < 0.05, Reject Ho.')          
else:
    print('pvalue > 0.05, Fail to reject Ho.')

T-statistic: -162.15297021609814
Adjusted p-value (right-tailed): 0.9999999999999988

pvalue > 0.05, Fail to reject Ho.

#### **Question 4. What is your P-value for hypothesis 3, and what does this indicate for your null hypothesis?**

A: Fail to reject Null Hypothesis which means that the mean AQI of Michigan is less than or equal to 10

## Step 4. Results and Evaluation

Now that you've completed your statistical tests, you can consider your hypotheses and the results you gathered.

#### **Question 5. Did your results show that the AQI in Los Angeles County was statistically different from the rest of California?**

A: Yes

#### **Question 6. Did New York or Ohio have a lower AQI?**

A: New York does

#### **Question 7: Will Michigan be affected by the new policy impacting states with a mean AQI of 10 or greater?**

A: No

# Conclusion

**What are key takeaways from this project?**

A: THat you can efficiently use T tests to understand and check if your hypothesis is true or not. Based on the goal, you will need to change between right tailed, left tailed, and two tailed tests

**What would you consider presenting to your manager as part of your findings?**

A: I would present my three answers for the questions as well as the level of confidence for it as well as the p values. LA County not equal to rest of state, NY < Ohio, and Michigan < 10. I would also talk about the implications of each of these


**What would you convey to external readers?**

A: In this I would just share out final results and outcomes to better inform the public why these policy changes are taking place